<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>split</servlet-name>
		<servlet-class>org.secretsharing.server.SplitServlet</servlet-class>
		<init-param>
			<param-name>string</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>string-split</servlet-name>
		<servlet-class>org.secretsharing.server.SplitServlet</servlet-class>
		<init-param>
			<param-name>string</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>join</servlet-name>
		<servlet-class>org.secretsharing.server.JoinServlet</servlet-class>
		<init-param>
			<param-name>string</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>string-join</servlet-name>
		<servlet-class>org.secretsharing.server.JoinServlet</servlet-class>
		<init-param>
			<param-name>string</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>split</servlet-name>
		<url-pattern>/split</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>string-split</servlet-name>
		<url-pattern>/string-split</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>string-join</servlet-name>
		<url-pattern>/string-join</url-pattern>
	</servlet-mapping>

</web-app>