<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>split</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.SplitServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>join</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.JoinServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>join-lines</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.JoinLinesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>form-split</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.FormSplitServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>form-join</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.FormJoinServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>form-inspect</servlet-name>
		<servlet-class>org.mitre.secretsharing.server.FormInspectorServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jsp-split</servlet-name>
		<jsp-file>/split.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>jsp-join</servlet-name>
		<jsp-file>/join.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>jsp-inspect</servlet-name>
		<jsp-file>/inspect.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>split</servlet-name>
		<url-pattern>/split</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>join-lines</servlet-name>
		<url-pattern>/j</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>form-split</servlet-name>
		<url-pattern>/form-split</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>form-join</servlet-name>
		<url-pattern>/form-join</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>form-inspect</servlet-name>
		<url-pattern>/form-inspect</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsp-split</servlet-name>
		<url-pattern>/split.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsp-join</servlet-name>
		<url-pattern>/join.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jsp-inspect</servlet-name>
		<url-pattern>/inspect.html</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>405</error-code>
		<location>/405.txt</location>
	</error-page>
</web-app>